 <!DOCTYPE html>
    <html>
    <head>
        <title>Item List</title>
    </head>
    <body>
      <form action="searchDatabase" method="post">
        {% csrf_token %}
        <input type="text" name="search" id="search" placeholder="Search...">
        <p>Category</p>
        {% for cat in cate %}
          <input type="checkbox" name = "{{cat}}" />{{cat}}<br>
        {% endfor %}
        <p>Tags</p>
        {% for tag in tags %}
          <input type="checkbox" name = "{{tag}}" />{{tag}}<br>
        {% endfor %}
        <br>
        <button type="submit">Search/Filter</button>
        </form>
        <h1>Items</h1>
        <ul>
            {% if search %}

            {% else %}
            {% for item in items %}
                <li>{{ item.product_name }} - {{ item.description }}</li>
            {% endfor %}
            {% endif %}
        </ul>
    </body>
    </html>